# Configuración de Formspree

# 1. Regístrate en https://formspree.io y crea un nuevo formulario (New Project -> New Form).
# 2. Formspree te dará un enlace que se ve así: https://formspree.io/f/tucodigo
# 3. Reemplaza ese enlace aquí abajo.

NEXT_PUBLIC_FORMSPREE_ENDPOINT="https://formspree.io/f/AQUI_TU_CODIGO"
